<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root</title>
</head>

<body>
    홈페이지에 오신걸 환영합니다.<br>
    <a href="/signup_seller"><button>판매자 회원가입</button></a>
    <a href="/signup_customer"><button>구매자 회원가입</button></a>
    <a href="/login"><button>로그인</button></a>
</body>

</html>
